<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>NIM Time and Frequency department</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="styles/layout.css" type="text/css">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <h1>NIM Time and Frequency department</h1>
  </header>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <h1>Who are we ?</h1>
    <img class="imgr" src="../../logo_NIM.jpg" alt="Logo NIM">
    <p class="center">We are a team of researcher in the Time and Frequency department at National Institute of Metrologia (NIM). Our work consists of synchronising all atomics clocks from all over the world to a reference clock in real time using GPS common-view time transfer, Real Time Remote Calibration (RTRC) and NIM Disciplined Oscillator system (NIMDO).</p>
    <p class='left'>Our team is composed of the following scientists :
    <ul>
      <li>Dr Liang Kun, vice director of NIM Time and Frequency department</li>
      <li>else</li>
      <li>else</li>
      <li>else etc</li>
    </ul>
    <p class="justify"><!--This text is aligned left and right - &quot;Justified&quot;.--> Below, we will try to do our best to try to explain the principle of our work.</p>
    <ul>
      <li class='bold nostart'>
        <h2>GPS common-view Time transfer</h2>
      </li>
    </ul>

    <img class="imgl" src="" alt="Picture of Machine" width="125" height="125">
    <a class='right' href="https://www.nist.gov/pml/time-and-frequency-division/atomic-standards/common-view-gps-time-transfer">Source from NIST</a>
    <p class='right'>The GPS common-view time transfer method has been introduced in  the beggining of the 1980s. It led to an immediate improvement of international time comparaison. It responds to the need of more accurate ways to synchronise clocks from all over the world, indeed, atomics clocks were already really precise, the majority of uncertainty came from the previous means of comparaison.
    <p class='right'>It allows the comparaison of two clocks at differents locations in real time. To do this, a satellite sends a one-way signal to the both stations which want their clock synchronized. This signal tells the time the satellite has, so both clock set their time according to the signal. However, considering the distance between the first station and the satelitte and the second station and the satellite is different, they will not receive the signal at the same time, moreover, even though there would be at exact same distance, the quality of the receiver can also impact the synchronisation (remember, we want to be precise at a precision from 1 to 10 ns).  Thus, a slight <b>delay</b> will appear between these two clocks. </p>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <h1>Footer</h1>
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">NIM research laboratory</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </footer>
</div>
</body>
</html>
