<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>NIM Time and Frequency department</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="styles/layout.css" type="text/css">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <h1>NIM Time and Frequency department</h1>
  </header>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <h1>Who are we ?</h1>
    <img class="imgr" src="../../Test/Images/logo_NIM.png" alt="">
    <p class="center">We are a team of researcher in the Time and Frequency department in the National Institute of Metrologia (NIM). Our work consists of synchronising all atomics clocks from all over the world to a reference clock in real time using GPS time transfer, Real Time Remote Calibration (RTRC) and NIM Disciplined Oscillator system (NIMDO).</p>
    <p class='left'>Our team is composed of the following scientists :
    <ul>
      <li>Dr Liang Kun, the vice director of NIM Time and Frequency department</li>
      <li>else</li>
      <li>else</li>
      <li>else etc</li>
    </ul>
    <p class="justify"><!--This text is aligned left and right - &quot;Justified&quot;.--> Below, we will try to do our best to try to explain the methodology of our work :</p>
    <ul>
      <li class='bold nostart'>
        <h2>GPS Time transfer</h2>
      </li>
    </ul>

    <img class="imgl" src="../../Test/Images/machine_NIM.png" alt="Picture of Machine" width="125" height="125">
    <a class='right' href="https://www.nist.gov/pml/time-and-frequency-division/atomic-standards/common-view-gps-time-transfer">Source from NIST</a>
    <p class='right'>Test</p>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <h1>Footer</h1>
    <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
  </footer>
</div>
</body>
</html>
